<div class="max-w-6xl mx-auto my-10 sm:border rounded-xl p-3 sm:p-8">
  <button class="btn bg-primary/80 flex items-center gap-2 mb-6" routerLink="/">
    <mat-icon fontIcon="arrow_back" />
    Back
  </button>
  <!-- display only error if poll not found -->
  @if (this.errorMessage == 'Sorry, we could not find that poll.') {
  <div class="relative mx-auto mb-2 sm:mb-8 flex flex-col items-center w-max">
    <span
      class="absolute left-0 right-0 bottom-5 h-3 sm:h-5 bg-accent/80"
    ></span>
    <h2 class="text-center relative z-10 px-2">{{ this.errorMessage }}</h2>
  </div>
  <!-- prettier-ignore -->
  } @else {
    @if (this.successMessage) {
  <div
    class="maw-w-2xl flex items-center justify-center p-4 mb-4 border border-secondary rounded-lg bg-secondary/40 text-xl"
    role="alert"
  >
    <mat-icon fontIcon="check" class="mr-2" />
    <div>{{this.successMessage}}</div>
  </div>
  }

  <div class="relative mx-auto mb-2 sm:mb-8 flex flex-col items-center w-max">
    <span
      class="absolute left-0 right-0 bottom-5 h-3 sm:h-5 bg-primary/80"
    ></span>
    <h2 class="text-center relative z-10 px-2">{{ pollData()?.title }}</h2>
  </div>
  <!-- display poll results if the user has voted -->
  @if (hasVoted) {
  <app-poll-results [pollData]="pollData()" />
  <!-- display a form if the user hasn't voted -->
  } @else {
  <form #voteForm="ngForm" (ngSubmit)="submitVote()">
    <div class="space-y-4 mb-6">
      @for (option of pollData()?.options; track option.optionId) {
      <label
        class="flex items-center p-4 bg-background border rounded-lg cursor-pointer transition-colors"
        [ngClass]="{
              'border-primary border-2': selectedOption === option.optionId,
              'border-gray-200': selectedOption !== option.optionId
            }"
      >
        <input
          type="radio"
          name="pollOption"
          [value]="option.optionId"
          class="w-5 h-5 mr-4 accent-primary"
          [(ngModel)]="selectedOption"
          required
        />
        <span class="text-lg">{{ option.text }}</span>
      </label>
      }
    </div>

    <div class="flex flex-row gap-4 justify-center items-center">
      <button
        type="submit"
        class="btn font-bold flex bg-primary/80"
        [disabled]="hasVoted"
      >
        <mat-icon fontIcon="poll" class="mr-2" />
        Submit Vote
      </button>
    </div>
    @if (voteForm.submitted && !voteForm.valid) {
    <div
      class="mt-4 text-sm text-primary flex items-center justify-center gap-1"
    >
      <mat-icon fontIcon="info" class="text-sm" />
      Please select an option
    </div>
    } @if (errorMessage === 'Error submitting your vote. Please try again.') {
    <div class="mt-4 text-primary text-center">{{ errorMessage }}</div>
    }
  </form>

  <!-- Show message if user has already voted -->
  @if (hasVoted) {
  <h4 class="mt-3 text-center">You've already voted!</h4>
  } } }
  <div class="mt-15 flex flex-col sm:flex-row justify-center gap-4">
    <p class="self-center">Share this poll :</p>
    <div class="flex flex-row items-center gap-2 w-full sm:w-auto">
      <input
        type="text"
        [value]="pollLink"
        readonly
        class="flex-1 p-2 border border-primary rounded-lg"
      />
      <button
        class="btn bg-primary/80 flex items-center gap-2"
        (click)="copyLink()"
      >
        <mat-icon [fontIcon]="copied ? 'check' : 'content_copy'" />
      </button>
    </div>
  </div>
</div>
