@import "tailwindcss";

@theme {
  --color-text: #070107; // black
  --color-secondary-text: #a4a4a4; // gray
  --color-background: #bfc9bf; // light sage
  --color-cards-background: #ffffff; // white
  --color-primary: #b3a1ff; // purple
  --color-accent: #a4f5a6; // light green
}

.btn {
  @apply px-4 py-2 rounded-lg shadow-lg font-semibold;
}

h1 {
  @apply text-2xl sm:text-4xl lg:text-6xl font-bold text-text my-6;
}

h2 {
  @apply text-xl sm:text-3xl lg:text-4xl font-bold text-center text-text my-6;
}
